In [23]:
import pandas as pd

In [24]:
movie_data = pd.read_csv('../../data/raw/movie-data.csv')
trope_data = pd.read_csv('../../data/raw/tropes-onehot.csv')

# Setting the same name for id column for both dataframes
trope_data = trope_data.rename(index=str, columns={'imdbid':'id'})

In [25]:
qnt_movies = len(movie_data)
qnt_tropes = len(trope_data)

print("Qnt movies: {}, Qnt Tropes: {}".format(qnt_movies, qnt_tropes))

Qnt movies: 1969, Qnt Tropes: 6736

In [26]:
movie_data.head()

,revenue,class,id,budget,starpower,certification,year,month,Action,Adventure,...,Horror,Music,Mystery,Romance,Science Fiction,Thriller,War,Western,rating,ratingClass
0,191502426,8,tt0101272,30000000,11000920558,11,1991,11,0,0,...,1,0,0,0,0,0,0,0,6.8,6
1,152368585,8,tt0101393,75000000,19781169355,6,1991,5,1,0,...,0,0,1,0,0,1,0,0,6.7,6
2,6153939,2,tt0101410,9000000,22026008332,6,1991,8,0,0,...,0,0,0,0,0,0,0,0,7.7,7
3,377350553,9,tt0101414,25000000,27872758981,14,1991,11,0,0,...,0,1,0,1,0,0,0,0,8.0,8
4,57504069,5,tt0101507,6500000,13348646490,6,1991,7,0,0,...,0,0,0,0,0,0,0,0,7.8,7

In [27]:
final_data = pd.merge(movie_data,
                      tropes_data,
                      on='id')

In [28]:
filtered_movie_data = movie_data[movie_data['id'].isin(final_data['id'])]
filtered_trope_data = trope_data[trope_data['id'].isin(final_data['id'])]

In [29]:
qnt_movies = len(filtered_movie_data)
qnt_tropes = len(filtered_trope_data)

print("Quantidade de filmes: {}, Quantidade de Tropes: {}".format(qnt_movies, qnt_tropes))

Quantidade de filmes: 1969, Quantidade de Tropes: 1969

In [30]:
filtered_movie_data.to_csv('../../data/interim/movie-data.csv', index=False)
filtered_trope_data.to_csv('../../data/processed/trope-data.csv', index=False)